.App {
  text-align: center;
} 
.App-logo {
  width: 100%;
  height: 300px;
  object-fit: cover;
} 

.GDGlogo {
  width: 124.32px;
  height: 124.32px;
  z-index: 1;
}

.head-image {
  /* background-color: aquamarine; */
  padding-bottom: 15px;
  /* object-fit: cover; */
  width: 100%;
  /* height: 30vh; */
  /* display: block; */
}
.chevy{
  display: inline-block;
}
.main-layout {
  width: 80%;
  align-items: left;
}
.main {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 45, 18);
}

.Collapsible{
  background-color: rgb(255, 255, 255);
  color:#378a30;
  align-items: center;
  padding: 18px;
  width:60%;
  text-align: left;
  border: none;

}
.collapsible__
.App-link {
  color: #61dafb;
}

